extends ./layout/application.jade

block content
  form.new(action="/todos", method="post")
    label(for="form_title") Title
    input(type="text", name="title", id="form_title")
    br
    label(for="description") Description
    textarea#description(name="description")
    br
    button 